<br/>
<div class="container">
  <div class="row">
      <div class="form-bg">
          <form #studentForm="ngForm" (ngSubmit)="RegisterStudent(studentForm)"  >
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Quiz</h3>
              </div>

              <div class="panel-body">

                

                <div class="form-group">
                  <label>What is the objective of dependency injection?</label>
                  <div class="form-control">
                    <label class="radio-inline">
                      <input type="radio" name="q1" value="Pass the service to the client." ngModel>
                      Pass the service to the client.
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="q1" value="Allow the client to find service." ngModel>
                      Allow the client to find service.
                    </label>
                  </div>
                </div>

                <div class="form-group">
                  <label>Which of the following benefit from dependency injection?</label>
                  <div class="form-control">
                    <label class="radio-inline">
                      <input type="radio" name="q2" value="Software design" ngModel>
                      Software design
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="q2" value="no benfits" ngModel>
                      no benfits
                    </label>
                  </div>
                </div>


              </div>
              <div class="panel-footer">
                <button class="btn btn-primary" type="submit">Submit</button>
              </div>
            </div>
          </form>
      </div>
  </div>
</div>